<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myhomejarvis">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="우리집 JARVIS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testous">
        <activity android:name=".Activity_package.Loading_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_package.Project_Main"/>
        <activity android:name=".Activity_package.Join_Activity"/>
        <activity android:name=".Activity_package.Light_On_Off"/>
        <activity android:name=".Activity_package.Smart_Plug"/>
        <activity android:name=".Activity_package.Admit_Activity"/>
        <activity android:name=".Activity_package.Add_device_Activity"/>
        <activity android:name=".Activity_package.Login_Activity"/>
        <activity android:name=".Activity_package.Add_Home_Activity"/>
        <activity android:name=".Activity_package.Config_MyHome"/>
        <activity android:name=".Activity_package.Find_Family_Activity"/>
        <activity android:name=".Activity_package.Create_Family_Activity"/>
        <activity android:name=".Activity_package.Regist_Family_Request_Activity"/>
        <activity android:name=".Activity_package.Find_Family_List"/>
        <activity android:name=".Activity_package.Streaming_Activity"/>
        <activity android:name=".Activity_package.Find_ID_page"/>
        <activity android:name=".Activity_package.Find_PW_page"/>
        <activity android:name=".Activity_package.MIC_page"
            android:theme="@style/Dialog"/>




        <service
            android:name=".FCM_package.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".FCM_package.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>



    </application>

</manifest>